################################################################################
# This .gitignore file is for a Visual Studio C# solution.
################################################################################

.vs/
**/bin/
**/obj/
*.user
*.suo
*.cache
UpgradeLog.htm
UpgradeLog2.htm
